@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --card: #ffffff;
  --card-foreground: #0f172a;
  --popover: #ffffff;
  --popover-foreground: #0f172a;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --secondary: #16a34a;
  --secondary-foreground: #ffffff;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --accent: #16a34a;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #3b82f6;
  --chart-1: #3b82f6;
  --chart-2: #16a34a;
  --chart-3: #f8c630;
  --chart-4: #a667e4;
  --chart-5: #e05252;
  --sidebar: #fafafa;
  --sidebar-foreground: #0f172a;
  --sidebar-primary: #3b82f6;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #16a34a;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #e2e8f0;
  --sidebar-ring: #3b82f6;
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(222.2 47.4% 11.2%);
  --shadow-2xs: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.10), 0px 1px 2px -1px hsl(222.2000 47.4000% 11.2000% / 0.10);
  --shadow: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.10), 0px 1px 2px -1px hsl(222.2000 47.4000% 11.2000% / 0.10);
  --shadow-md: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.10), 0px 2px 4px -1px hsl(222.2000 47.4000% 11.2000% / 0.10);
  --shadow-lg: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.10), 0px 4px 6px -1px hsl(222.2000 47.4000% 11.2000% / 0.10);
  --shadow-xl: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.10), 0px 8px 10px -1px hsl(222.2000 47.4000% 11.2000% / 0.10);
  --shadow-2xl: 0px 4px 10px 0px hsl(222.2000 47.4000% 11.2000% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
  --card: #0f172a;
  --card-foreground: #f8fafc;
  --popover: #0f172a;
  --popover-foreground: #f8fafc;
  --primary: #3b82f6;
  --primary-foreground: #f8fafc;
  --secondary: #16a34a;
  --secondary-foreground: #f8fafc;
  --muted: #1a2332;
  --muted-foreground: #96a5ba;
  --accent: #16a34a;
  --accent-foreground: #f8fafc;
  --destructive: #7f1d1d;
  --destructive-foreground: #f8fafc;
  --border: #1a2332;
  --input: #1a2332;
  --ring: #3b82f6;
  --chart-1: #3b82f6;
  --chart-2: #16a34a;
  --chart-3: #f8c630;
  --chart-4: #a667e4;
  --chart-5: #e05252;
  --sidebar: #0f172a;
  --sidebar-foreground: #f8fafc;
  --sidebar-primary: #3b82f6;
  --sidebar-primary-foreground: #f8fafc;
  --sidebar-accent: #16a34a;
  --sidebar-accent-foreground: #f8fafc;
  --sidebar-border: #1a2332;
  --sidebar-ring: #3b82f6;
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(210 40% 2%);
  --shadow-2xs: 0px 4px 10px 0px hsl(210 40% 2% / 0.25);
  --shadow-xs: 0px 4px 10px 0px hsl(210 40% 2% / 0.25);
  --shadow-sm: 0px 4px 10px 0px hsl(210 40% 2% / 0.50), 0px 1px 2px -1px hsl(210 40% 2% / 0.50);
  --shadow: 0px 4px 10px 0px hsl(210 40% 2% / 0.50), 0px 1px 2px -1px hsl(210 40% 2% / 0.50);
  --shadow-md: 0px 4px 10px 0px hsl(210 40% 2% / 0.50), 0px 2px 4px -1px hsl(210 40% 2% / 0.50);
  --shadow-lg: 0px 4px 10px 0px hsl(210 40% 2% / 0.50), 0px 4px 6px -1px hsl(210 40% 2% / 0.50);
  --shadow-xl: 0px 4px 10px 0px hsl(210 40% 2% / 0.50), 0px 8px 10px -1px hsl(210 40% 2% / 0.50);
  --shadow-2xl: 0px 4px 10px 0px hsl(210 40% 2% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

body {
  letter-spacing: var(--tracking-normal);
}

body {
  letter-spacing: var(--tracking-normal);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


